@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=JetBrains+Mono&family=Josefin+Sans:wght@600&family=Jost:wght@700&family=Lexend+Deca&family=Montserrat:wght@400;600;700&display=swap");

html {
	font-size: 62.5%;
}

.wrapper {
	width: 100%;
	height: auto;
}

* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #DADADA;
}

header {
	height: 6.510vw;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding-block: 2.831vh;
	padding-inline: 2rem;
	background: #17245f;
}

nav {
	margin-left: auto;
}

.nav_links {
	list-style: none;
	display: flex;
	align-items: center;
}

.nav_links li {
	display: inline-block;
	padding: 0px 1.5rem;
}

.contactUsLink {
	text-decoration: none !important;
}

.profile-frame {
	display: inline-block;
	width: 5rem;
	height: 5rem;
	background-color: gray;
	border-radius: 50%;
	margin-left: 20px;
	align-self: center;
}

li a {
	color: #fff;
	font-family: Inter;
	font-size: 2rem;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	text-decoration: none;
}

li a:hover {
	color: #feeb6b;
	transition: 0.2s;
}

.logo,
.footer_logo {
	width: 8.9rem;
	height: 8.9rem;
	background-color: white;
	border-radius: 50%;
	color: white;
}

.logo {
	margin-right: 1rem;
}

.company_name {
	width: auto;
	height: auto;
	color: #fff;
	font-family: Lexend Deca;
	font-size: 3.5rem;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.APPOINTMENT-FORM-title {
	color: #000000;
	width: 100%;
	margin-top: 5rem;
	margin-bottom: 2rem;
	text-align: center;
}

.APPOINTMENT-FORM-title p {
	font-size: 6rem;
	font-family: Montserrat;
	font-weight: 700;
	word-wrap: break-word;
}

.table-appointment-form {
	margin-top: 20px;
	background-color: #ffffff;

}

.table-container {
	padding: 5rem;
	width: 65%;
	background-color: #22409A;
	border-radius: 30px;
	margin: 3rem auto 8rem auto;
	font-size: 3rem;
	font-family: Inter;
}

.table-appointment-form table {
	width: 100%;
	border-collapse: collapse;
}

.table-appointment-form td {
	padding: 2rem;
	border: 1px solid #000000;

}

.table-appointment-form td:first-child {
	width: 30%;
	font-weight: bold;
}

.table-appointment-form tr:nth-child(even) {
	background-color: #ffffff;
}

.button-container {
	text-align: center;
	font-weight: 800;
}

.button-container input[name="confirmAppointment"] {
	padding: 1rem 4rem;
	margin: 1rem;
	background-color: #0946FF;
	color: #FFFFFF;
	border: none;
	border-radius: 25px;
	cursor: pointer;
	font-weight: 600;
	font-size: 2rem;
	font-family: Montserrat;
	box-shadow: 0 0 20px rgba(2, 0, 139, 0.1);
}

.button-container input[name="cancelAppointment"] {
	padding: 1rem 4rem;
	margin-top: 3rem;
	background-color: #FF0000;
	color: #FFFFFF;
	border: none;
	border-radius: 25px;
	cursor: pointer;
	font-weight: 600;
	font-size: 2rem;
	font-family: Montserrat;
	box-shadow: 0 0 20px rgba(35, 0, 0, 0.1);

}

.button-container input[name="confirmAppointment"]:hover {
	background-color: #3c67ff;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.button-container input[name="cancelAppointment"]:hover {
	background-color: #ff3333;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 768px) {
	.contactText {
		font-size: 6rem;
		margin-top: 20px;
		margin-bottom: 20px;
	}
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
	.contactText {
		font-size: 8rem;
		margin-top: 20px;
		margin-bottom: 20px;
	}
}

@media only screen and (max-width: 768px) {

	.film2,
	.film3 {
		height: auto;
	}
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {

	.film2,
	.film3 {
		height: auto;
	}
}

footer {
	display: flex;
	justify-content: space-evenly;
	align-content: center;
	padding: 1.5rem 5%;
	background: #17245f;
	row-gap: 0.5rem;
}

.LOREM_IPSUM {
	color: #fff;
	text-align: center;
	font-family: JetBrains Mono;
	font-size: 1.5rem;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.operating_hrs,
.contact_details {
	color: #feeb6b;
	text-align: center;
	font-family: JetBrains Mono;
	font-size: 1.5rem;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	flex-direction: column;
	flex: 1 1 0;
	width: 0;
}

.footer_list {
	display: flex;
	justify-content: center;
	align-content: center;
	flex-wrap: wrap;
	flex-direction: column;
}

.company_name_footer {
	color: #fff;
	font-family: Lexend Deca;
	font-size: 2.8rem;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin-bottom: 0.4rem;
	text-align: center;
}

.company_logo {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: center;
	margin-bottom: 0.4rem;
}

.footer_buttons {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: center;
	flex-wrap: nowrap;
}

.icon_link {
	width: max(3rem, 2.930vw);
	height: max(3rem, 2.930vw);
	border-radius: 50%;
	object-fit: cover;
	background-color: white;
	margin: 0 1rem;
	color: white;
}

@media only screen and (min-width: 1800px) {
	html {
		font-size: 16px;
	}
}

@media only screen and (max-width: 1375px) {
	html {
		font-size: 56.25%;
	}

	.container {
		display: grid;
		width: 100%;
		height: 155vw;
		margin-top: 1rem;
		margin-bottom: 1rem;
		padding-block: 1rem;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(6, 1fr);
	}
}

@media only screen and (max-width: 1060px) {
	html {
		font-size: 50%;
	}

	.service__logo {
		margin-left: 2.5rem;
		width: 12vw;
		height: 12vw;
	}

	.container {
		display: grid;
		width: 100%;
		height: 155vw;
		margin-top: 1rem;
		margin-bottom: 1rem;
		padding-block: 1rem;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(6, 1fr);
	}

	.company_name {
		font-size: 2.7rem;
	}

	li a {
		font-size: 1.7rem;
		font-weight: normal;
	}

	.nav_links li {
		padding: 0px 0.65rem;
	}

	header {
		height: 6.510vw;
		padding-block: 2rem;
		padding-inline: 2rem;
	}

	.logo {
		width: 6rem;
		height: 6rem;
	}
}

@media only screen and (max-width: 680px) {
	html {
		font-size: 38%;
	}

	.service__logo {
		margin-left: 2.5rem;
		width: 13.542vw;
		height: 13.542vw;
	}

	.text__container p {
		margin-bottom: 1rem;
	}
}

@media only screen and (max-width: 530px) {
	html {
		font-size: 37.5%;
	}

	.container {
		display: grid;
		width: 100%;
		height: 190vh;
		margin-top: 1rem;
		margin-bottom: 1rem;
		padding-block: 1rem;
		grid-template-columns: repeat(1, 1fr);
		grid-template-rows: repeat(12, 1fr);
	}

	header {
		height: 6.510vw;
		padding-block: 2rem;
		padding-inline: 2rem;
	}

	button {
		width: 10.938vh;
		height: 2.214vh;
		font-size: 1.2rem;
	}

	li a {
		font-size: 1.5rem;
		font-weight: normal;
	}

	.nav_links li {
		padding: 0px 0.3rem;
	}

	.logo {
		width: 4.2rem;
		height: 4.2rem;
	}

	.company_name {
		font-size: 2rem;
	}

	.service__logo {
		width: 10rem;
		height: 10rem;
	}

	.company_name_footer {
		width: 25vw;
		font-size: 2rem;
	}

	.LOREM_IPSUM {
		font-size: 1.4rem;
	}
}

@media only screen and (max-width: 415px) {
	html {
		font-size: 30%;
	}
}